.dark {
  background-color: black;
  color: white;
}

.im{
  
  margin-top: 60px;
  
  width: 252px;
  height: 260px;
  padding-left: 5px;
  
  margin-left: 100px;
  margin-right: 100px;
  background-color: black;
 
}
.image1 :hover{
  border-block-color: rgb(29, 29, 161);
}
.text  {
  color: white;
  font-style: italic;
  font-size: 40px;
  text-align: center;
  
  text-shadow: teal;

  
  

}
.image1{
  display: flex;
  justify-items: center;
  height: 205px;
  width: 240px;
  margin: 0;
  padding:0;
  
  
  
}
.para{

 
  width: 60%;
  height:60%;
  margin-top: 80px;
  margin-left: 120px;
  margin-right: 200px;
  
 

}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
  

 #rcorners4 {
    border-radius: 5px;
    background-color: rgb(152, 236, 67);
    padding: 10px; 
    width: 200px;
    height: 100px; 
    font-family: cursive;
    color: black;
  } 

  
  h2{
    padding-top: 40px;
  }

  .box-container{
    display:inline-block;
    width:450px;
    padding-top: 25px;
    }
  .box{
    display:block;
    padding-top: 10px;
    
    height: 50px;
  
    background:rgb(199, 188, 188);
    color:#fff;
    margin-left:0.3%;
    text-align:center;
    color: black;
    border-radius: 15px;
    }

    .btn{
      background-color: transparent;
      text-decoration: none;
      border: none;
      
    }

    .row-header{
        margin:0px auto;
        padding:0px;
    }
    
    .row-content {
        margin:0px auto;
        padding: 40px 0px 50px 0px;
        border-bottom: 2px ridge;
        min-height:200px;
    }
    .pad{
      padding-top: 20px;
    }

    .pad1{
      padding-left: 20px;
      padding-top: 10px;
    }
    input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
      
    }
    
    label {
      padding: 12px 12px 12px 0;
      display: inline-block;
    }
    
    input[type=submit] {
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      float: right;
     
    }
    
    input[type=submit]:hover {
      background-color: #45a049;
    }
    .bmc-button{
      background-color: Transparent;
      border: none;             /* Your can add different style/properties of button Here*/
cursor:pointer; 
    }
   
    
    .col-25 {
      float: left;
      width: 25%;
      margin-top: 6px;
    }
    
    .col-75 {
      float: left;
      width: 75%;
      margin-top: 6px;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
        
      }
    }
    
    .footer{
        background-color: #D1C4E9;
        margin:0px auto;
        padding: 20px 0px 20px 0px;
    }
    
    .vl {
      border-left: 2px solid rgb(146, 116, 231);
     min-height: 100px;
      
      padding: 20px;
      
      margin-left: -3px;
      top: 0;
    }
    
    .sidebar-social {
      margin: 0;
      padding: 0;
  }
  
  .sidebar-social ul {
      margin: 0;
      padding: 5px;
      

  }

  
  
  .sidebar-social li {
      text-align: center;
      width: 31.9%;
      margin-bottom: 12px!important;
      background-color: #fff;
      border: 1px solid #eee;
      display: inline-block;
      
      font-size: 10px;
  }
  
  .sidebar-social a {
       display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      
      font-size: 14px;
      color: #444;
      
      text-decoration: none;
  }
  
  .sidebar-social i {
      width: 32px;
      height: 32px;
      
      line-height: 32px;
      text-align: center;
      font-size: 20px;
      color: #444444;
  }
  
  .sidebar-social a i.fa-html5:hover { color: #FF0000; }
  .sidebar-social a i.fa-css3:hover { color:#00ABE3 }
  .sidebar-social a i.fa-css3:hover { color:#FFD400 }
  .sidebar-social a i.fa-github:hover { color:#FF0000 }
  .sidebar-social a i.fa-fa-mobile:hover { color:#cb2027 }
  .sidebar-social a i.file-code-o:hover { color:#FF57AE }
  .sidebar-social a i.fa-500px:hover { color:#00ABE3 }
  
  .sidebar-social a i.fa-adn:hover { color:#FF57AE }



  ::-webkit-scrollbar-track {
    background-color: white;
    box-shadow: inset 1px 1px 5px grey;
    border-radius: 50px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    width: 10px !important;
    background: #6985c4;
    border-radius: 50px;
    border: 2px solid black;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #545454;
  }
  .btn{
    color: white;
  }